@model IEnumerable<FileSharing.Models.FileModel.File>

@{
    ViewData["Title"] = "Список всех файлов";
}

<h3>Список всех загруженных файлов</h3>
@foreach (var file in Model)
{
    <p>@file.FileName -> @file.RealPath</p>
}