<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - FileSharing</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<div class="header">
    <div class="logo-block">
        <a href="/">
            <img src="~/images/logo.png" />
        </a>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="User" asp-action="Index">Личный кабинет</a>
        <a asp-controller="User" asp-action="Logout">Выход</a>
    }
    else
    {
        <a asp-controller="User" asp-action="Login">Войти</a>
        <a asp-controller="User" asp-action="Registration">Регистрация</a>
    }
    <a asp-controller="File" asp-action="Upload">Загрузить файл</a>
</div>
<div class="header-errors">
    @if (!ViewData.ModelState.IsValid && ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
    {
        <div class="danger">
            @ViewData.ModelState[""].Errors.First().ErrorMessage
        </div>
    }
</div>
<div class="body-content">
    @RenderBody()
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</body>
</html>