@model IEnumerable<FileSharing.Models.User>
@{
    ViewData["Title"] = "User Controller";
}

<a asp-action="registration">Регистрация</a>
<table class="table">
    <tr><td>Login</td><td>Password</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@item.Login</td><td>@item.Password</td></tr>
    }
</table>